<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.keep_accounts.mapper.AccountRecordMapper">

    <select id="calculateTotalExpenditureByMonth" resultType="java.math.BigDecimal">
        SELECT
            IFNULL(SUM(amount), 0)
        FROM
            account_record
        WHERE
            type = '0'
          AND YEAR(record_date) = #{year}
          AND MONTH(record_date) = #{month}
          AND deleted = '0'
    </select>

</mapper>